@charset "UTF-8";
body,nav,dl,dt,dd,p,h1,h2,h3,h4,ul,ol,li,input,button,textarea,footer{margin:0;padding:0}
body{font:16px/1.5 'Microsoft Yahei','Simsun';  color:#333;background:#fff;-webkit-text-size-adjust: none; min-width:320px;}
h1,h2,h3,h4,h5,h6{font-size:100%}
form{display:inline}
ul,ol{list-style:none}
a{text-decoration:none}
a:hover, a:active, a:focus{color:#1c5aa2;text-decoration: none;}
a:active{color:#aaa;}
img{vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
button,input,select,textarea{font-size:100%; vertical-align:middle;outline:none;}
textarea{resize:none}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;-webkit-appearance:button;-moz-appearance:button}
input:focus:-moz-placeholder,input:focus::-webkit-input-placeholder {color:transparent}
button::-moz-focus-inner,input::-moz-focus-inner { padding:0; border:0}
table { border-collapse:collapse; border-spacing:0}
.fl{float:left;}.fr{float:right;}.hide{display:none;}.show{display: block;}
.ellipsis { white-space:nowrap; text-overflow:ellipsis; overflow:hidden}
.break { word-break:break-all; word-wrap:break-word}
header, footer, article, section, nav, menu{display: block;clear:both;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.clearfix{overflow:hidden;_zoom:1;}


body{
    height: 100%;
}
header{
    background-color: #2F2F2F;
    height: 1.5rem;
    font-weight: 100;
    font-size: 0.5rem;
    letter-spacing: 0.1rem;
    text-align: center;
    line-height: 1.5rem;
    color: #fff
}
header .return{
    position: absolute;
    left: 0.2rem;
    width: 2rem;
    color: #ccc
}
.return img{
    width: 0.6rem;
    height: 0.6rem;
}
.ads{
    background-color: #efefef;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
    font-size: 0.6rem;
}
.ads img{
    width: 100%;
    height: 100%;
}




.show-all{
    width: 95%;
    margin: 15px auto;
    position: relative;
}
.show-all h1{
    height: 2rem;
    text-align: center;
    line-height: 2rem;
    font-size: 0.8rem;
    font-weight: 100;
    color: #029CCF;
}

.show{
    width: 100%;
    text-align: center;
    font-size: 0.4rem;
    font-weight: lighter;
}

.show tr td,.show tr th{
    height: 1.1rem;
    color: #93979c;
}
.show tr th{
    color: #93979c;
}
.show-all tr td:nth-child(1){
    width: 1rem;
}
.show-all tr td:nth-child(2){
    width: 15%;
    text-align: left;
}
.show-all tr td:nth-child(3){
    width: 75%;
    text-align: left;
    color: #000;
}
